@model IEnumerable<ProductViewModel>

@if (!Model.Any())
{
    <div class="d-flex flex-column align-items-center justify-content-center py-5 gap-3 w-100" id="no-products">
        <i class="bi bi-ban fs-1"></i>
        <h5 class="text-dark fw-bold">No products match those filters.</h5>
        <button class="btn btn-dark rounded-0 px-4" id="clearFiltersBtn">
            Clear all
        </button>
    </div>
}
else
{
    @foreach (var product in Model)
    {
        <div class="card col mt-4 rounded-0 border-0 product-card product-card-animate">
            <div class="card-body pb-4 fw-semibold fs-5">
                <a class="product-link mb-3 d-block product-image-wrapper"
                       asp-action="Details"
                       asp-route-id="@product.Id"
                       data-image-primary="@product.PrimaryImage"
                       data-image-secondary="@product.SecondaryImage"
                       style="background-image: url(@(product.PrimaryImage));">
                </a>
                <div class="fs-5 fw-bold">@product.Name</div>
                <div class="mb-2">@(product.LowestPrice == 0 ? string.Empty : $"{product.LowestPrice} EGP") </div>

            </div>
            <div class="card-footer d-flex justify-content-center bg-black rounded-0">
                <a class="btn fw-bold py-2 text-white text-decoration-none w-100 quick-add-btn">
                    + QUICK ADD
                </a>
            </div>
        </div>
    }
}
